{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

<!--  page with button -->
items: {{ dump(items) }}
{% if items.next %}

<ul{{ attributes }}>
  <li class="pager__item">
    <a class="button" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next">{{ options.button_text }}</a>
  </li>
</ul>
{% endif %}


<!--  page with button -->
